@font-face {
  font-family: "digital";
  src: url("../fonts/digitalfont.ttf");
}

* {
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff951;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 {
  font-size: 6rem;
  margin-top: -150px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  padding: 20px;
}

.main .title {
  width: 200px;
  margin: -50px auto auto auto;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 20px 40px;
  text-align: center;
}

.main .projects {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
}

.main .projects .project:hover {
  -webkit-box-shadow: 0px 12px 23px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 12px 23px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 12px 23px 0px rgba(50, 50, 50, 0.75);
}

.main .projects .project {
  width: calc(25% - 2rem);
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 6px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 13px 0px rgba(50, 50, 50, 0.75);
  transition: all 0.5s;
}

.main .projects .project .day {
  background-image: url("../img/pic.jpg");
}

.main .projects .project .day-1 {
  background-image: url("../img/day-1.png");
}

.main .projects .project .day-2 {
  background-image: url("../img/day-2.png");
}

.main .projects .project .day-3 {
  background-image: url("../img/day-3.png");
}

.main .projects .project .day-4 {
  background-image: url("../img/day-4.png");
}

.main .projects .project .day-5 {
  background-image: url("../img/day-5.png");
}

.main .projects .project .day-6 {
  background-image: url("../img/day-6.png");
}

.main .projects .project .day, .main .projects .project .day-1, .main .projects .project .day-2, .main .projects .project .day-3, .main .projects .project .day-4, .main .projects .project .day-5, .main .projects .project .day-6 {
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.main .projects .project .day p, .main .projects .project .day-1 p, .main .projects .project .day-2 p, .main .projects .project .day-3 p, .main .projects .project .day-4 p, .main .projects .project .day-5 p, .main .projects .project .day-6 p {
  background-color: #fff951;
  color: black;
  width: 45px;
  text-align: center;
  padding: 2px;
}

.main .projects .project .desc {
  text-align: center;
  background-color: white;
}

.main .projects .project .desc h4 {
  padding: 20px;
}

.main .projects .project .desc a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.main .projects .project .desc a p {
  padding: 10px 0px;
  background-color: white;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.keys {
  display: flex;
  justify-content: center;
}

.key {
  padding: 15px 35px;
  margin: 10px;
  background-color: #eeeef0;
  border-top: 0.5px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
  border-radius: 5px;
  transition: all 0.05s;
}

.playing {
  border-bottom: 1px solid #ccc;
  transform: scale(1.05);
  background: rgba(26, 123, 255, 0.6);
}

kbd {
  font-size: 3em;
}

h3 {
  margin-top: 100px;
}

.clocks {
  display: flex;
}

.clock {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digital {
  display: flex;
  flex-direction: row;
  font-family: "digital", sans-serif;
  font-size: 9em;
}

.digital .time {
  display: flex;
  flex-direction: row;
  border: 10px solid #1aa3ff;
  padding: 20px;
  width: 80%;
  justify-content: center;
}

.analogue .clock-frame {
  width: 350px;
  height: 350px;
  border: 20px solid black;
  border-radius: 50%;
  position: relative;
  padding: 15px;
}

.analogue .clock-frame .hand-hour {
  position: absolute;
  width: 35%;
  height: 10px;
  top: 49%;
  background: #1aa3ff;
  margin-left: 20%;
  transition: all 0.5;
  transform-origin: 67.5%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1.91);
}

.analogue .clock-frame .hand-minute {
  position: absolute;
  width: 52%;
  height: 5px;
  top: 49%;
  background: #1aa3ff;
  margin-top: 2.5px;
  margin-left: 2%;
  transform-origin: 80%;
  transform: rotate(90deg);
}

.analogue .clock-frame .hand-second {
  position: absolute;
  width: 60%;
  height: 2px;
  top: 49%;
  background: #1aa3ff;
  margin-top: 4.5px;
  transform-origin: 70%;
  transform: rotate(90deg);
  margin-left: 2%;
}

.analogue .clock-frame .dot {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 49.25%;
  right: 51%;
  border-radius: 50%;
}

.update {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calc-wrap {
  border: 4px solid #999;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 288px;
  margin: 0 auto;
  min-height: 100vh;
}

.calculator .playing {
  border-bottom: 1px solid #ccc;
  transform: scale(1.05);
}

.calculator .display {
  height: 80px;
  border: 1px solid #999999;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  text-align: right;
  overflow-x: hidden;
  font-family: "digital";
  font-size: 1.5em;
}

.calculator .calc-controls {
  display: flex;
  text-align: center;
  align-items: center;
}

.calculator .calc-controls p {
  width: 64px;
  height: 48px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 2px solid #999;
  margin: 2px;
  background: #eeeef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.05s;
}

.calculator .calc-controls p:hover {
  cursor: pointer;
}

.calculator .chars {
  display: flex;
  text-align: center;
  height: 100px;
  align-items: center;
  margin: 4px 0px 8px 0px;
}

.calculator .chars .char-more {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.calculator .chars .char-more p {
  width: 64px;
  height: 48px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 2px solid #999;
  margin: 2px;
  background: #eeeef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.05s;
}

.calculator .chars .char-more p:hover {
  cursor: pointer;
}

.calculator .chars .char-more .zero {
  width: 134px;
}

.panels {
  display: flex;
  min-height: 100vh;
  font-size: 30px;
  background: lightblue;
  overflow: hidden;
}

.panels .panel-1 {
  background-image: url("../img/img-7.jpg");
}

.panels .panel-2 {
  background-image: url("../img/img-13.jpg");
}

.panels .panel-3 {
  background-image: url("../img/img-10.jpg");
}

.panels .panel-4 {
  background-image: url("../img/img-6.jpg");
}

.panels .panel-5 {
  background-image: url("../img/img-11.jpg");
}

.panels .panel {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: 1.5s;
  transition: ease-in-out 1s;
}

.panels .panel > * {
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panels .panel > *:first-child {
  transform: translateY(-100%);
}

.panels .panel > *:last-child {
  transform: translateY(100%);
}

.panels .panel.open-active > *:first-child {
  transform: translateY(0);
}

.panels .panel.open-active > *:last-child {
  transform: translateY(0);
}

.panels .panel p {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

.panels .panel.open {
  font-size: 30px;
  flex: 7;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
  color: #1aa3ff;
}

.search-form input {
  width: 100%;
  padding: 20px;
}

.search-form input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.search-form .suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective:20px;*/
}

.search-form .suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.search-form .suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
}

.search-form .suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%);
}

.search-form span.population {
  font-size: 15px;
}

.search-form .hl {
  background: pink;
}

.pom-time {
  height: 100vh;
  padding: 5px;
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pom-time p:hover {
  cursor: pointer;
}

.pom-time .timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  align-self: center;
}

.pom-time .timer .sessiontime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pom-time .timer .sessiontime .pm {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pom-time .timer .sessiontime .pm .minus, .pom-time .timer .sessiontime .pm .plus {
  align-self: center;
  border: 1px solid #1aa3ff;
  padding: 3px 20px;
  margin: 10px 0px;
  border-radius: 20px;
}

.pom-time .timer h3 {
  font-size: 20px;
  margin: 0px;
}

.pom-time .start {
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 50px;
  border: 1px solid  #1aa3ff;
  border-radius: 50px;
}

.pom-time .reset {
  font-size: 26px;
  text-transform: uppercase;
  padding: 20px 50px;
  border: 1px solid  #1aa3ff;
  border-radius: 50px;
}

@media screen and (max-width: 700px) {
  header h1 {
    font-size: 3rem;
  }
  .main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    padding: 20px;
  }
  .main .projects .project {
    width: calc(33.33333% - 1rem);
  }
}

@media screen and (max-width: 425px) {
  header h1 {
    font-size: 2rem;
  }
  .main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    padding: 20px;
  }
  .main .title {
    width: 200px;
    margin: -40px auto auto auto;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 10px;
  }
  .main .projects {
    margin-bottom: 10px;
    padding: 0px 20px;
  }
  .main .projects .project {
    width: 100%;
  }
  .main .projects .project:last-child {
    margin-bottom: 0px;
  }
}
 

 /*# sourceMappingURL= app.css.map */